@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    margin:0;
    padding:0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #0C0C0C;
}
a:link{
    text-decoration: none;
}
a, a:link, a:visited {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #37c5f3;
}
a{
    /*color: #333;*/
    outline: none !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
@media(min-width: 1700px){
    .container-large{
        width: 1670px;
    }
}
/*header*/
.header{
    background-color: #fff;
    padding: 25px 0 20px;
}
.logo{
    float: left;
}
.header-right{
    float: right;
}
.social{
    float: left;
}
.social li{
    float: left;
    margin-right: 55px;
}
.social li a{
    display: block;
    padding-top: 25px;
    color: #333;
    font-weight: 500;
}
.social li a img{
    position: relative;
    margin-right: 6px;
    top: -2px;
}
.social li a:hover{
    color: #ed1d24;
}
/*End header*/

/*box-index*/
.box-index{
    min-height: calc(100vh - 106px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box-index-inner{
    margin: 105px 0 0;
    float: left;
}
.form-box-index{
    width: 515px;
    margin: 35px auto 50px;
    background: url(images/gift.png) top left no-repeat;
    background-size: 100% 100%;
    padding: 105px 42px 35px;
    max-width: 90%;
    font-size: 20px;
}
.form-box-index .input-text{
    height: 60px;
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 22px;
    padding: 0px 30px;
}
.div-input{
    overflow: hidden;
}
.div-input .input-text{
    width: 255px;
    float: left;
}
.div-input .btn-otp{
    float: right;
    width: 150px;
    padding: 0px;
    text-align: center;
    color: #e3181f;
    font-weight: bold;
    transition: all 0.3s;
}
.div-input .btn-otp:hover{
    background-color: #ffae00;
    color: #333;
}
.btn-submit{
    width: 238px;
    text-align: center;
    border-radius: 8px;
    height: 60px;
    background: #ffae00;
    border: none;
    margin: 13px auto 22px;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
    text-transform: uppercase;
    display: block;
}
.btn-submit:hover{
    background: #47b014;
}
.btn-radio{
    position: relative;
    display: inline-block;
}
.btn-radio label{
    color: #fff;
    padding-left: 29px;
    font-weight: 300;
    cursor: pointer;
    background: url(images/radio.png) left top 6px no-repeat;
}
.btn-radio input{
    display: none;
}
.btn-radio input:checked + label:after{
    content: '';
    width: 19px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*End box-index*/

/*footer*/
.footer .header-right{
    display: none;
}
/*End footer*/

/*slide*/
.owl-theme .owl-nav{
    margin: 0;
}
.owl-theme .owl-nav [class*='owl-']{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transition: all 0.3s;
}
.owl-theme .owl-nav [class*='owl-'].owl-prev{
    left: 20%;
}
.owl-theme .owl-nav [class*='owl-'].owl-next{
    right: 20%;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background-color: rgba(0,0,0,0.3);
}
.owl-theme .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot span{
    height: 4px;
    width: 33px;
    background-color: #bdbdbd;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #fefefe;
}
/*End slide*/

/*col-content*/
@media(min-width: 1400px){
    .container-col{
        width: 1310px;
    }
}
.col-content{
    background:url(images/bk2.png) center center no-repeat;
    background-size: 100% 100%;
}
.col-left{
    padding: 45px 30px 30px;
    margin-bottom: 100px;
    float: left;
    background: #fff;
    width: calc(100% - 270px);
}
.colleft-top-div{
    display: inline-block;
    margin: 0 auto 35px;
    position: relative;
}
.colleft-top-div:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #dbdbdb;
    top: 32px;
    left: 0;
    z-index: 1;
}
.item-clt{
    float: left;
    margin-right: 140px;
    position: relative;
    z-index: 2;
    color: #a9a8a8;
    font-size: 16px;
}
.item-clt:before{
    width: 64px;
    height: 64px;
    background: url(images/icon1.png) center center no-repeat;
    border: 2px solid #dbdbdb;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.03);
    content: "";
    display: block;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #fff;
}
.item-clt2:before{
    background-image: url(images/icon2.png);
}
.item-clt3:before{
    background-image: url(images/icon3.png);
}
.item-clt1.active:before{
    background-image: url(images/icon11.png);
}
.item-clt2.active:before{
    background-image: url(images/icon21.png);
}
.item-clt3.active:before{
    background-image: url(images/icon21.png);
}
.item-clt:last-child{
    margin-right: 0;
}
.item-clt.active{
    color: #ed1d24;
}
.item-clt.active:before{
    border: 3px solid #ed1d24;
}
.hover-item{
    cursor: pointer;
}
.hover-item:hover{
    color: #ed1d24;
}
.hover-item:hover:before{
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.08);
}

/*buoc1*/
.search-b1 input{
    height: 60px;
    padding: 0px 10px 0px 75px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    float: left;
    background: url(images/icon111.png) left 30px center no-repeat;
    border: 2px solid #bfc2c3;
    color: #e43422;
}
.focus-input{
    width: calc(100% - 225px);
    float: left;
    position: relative;
}
.focus-input ul{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0px 30px 10px;
    background: #fff;
    border: 2px solid #e43422;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.focus-input ul li:first-child{
    padding-top: 15px;
    border-top: 1px solid #bfc2c3;
}
.focus-input ul li{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: #666666;
}
.search-b1 input:focus{
    border-color: #e43422;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    background-image: url(images/icon1111.png);
}
.search-b1 input:focus + ul{
    opacity: 1;
    visibility: visible;
    height: auto;
}
.search-b1 button{
    width: 185px;
    float: right;
    height: 60px;
    background-color: #e43422;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s;
}
.search-b1 button:hover{
    background-color: #47b014;
}
.search-b1 p{
    color: #e31a1f;
    font-size: 16px;
    margin: 15px 0 25px;
    font-style: italic;
}
.b1-table{
    height: 371px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
}
.b1-table table{
    margin-bottom: 0;
    border: none;
}
.b1-table th,
.b1-table td{
    vertical-align: middle !important;
    padding: 0px 10px !important;
    line-height: 52px !important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.b1-table th{
    color: #ed1d24;
    background-color: #f3f2f2;
}
.b1-table-div{
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.b1-table table tbody tr td{
    border-bottom: none;
}
.b1-table table tbody tr td span{
    font-size: 14px;
}
.b1-table table tbody tr td:first-child{
    border-left: none;
}
.b1-table button{
    height: 38px;
    line-height: 38px;
    background-color: #ffae00;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 32px;
    border: none;
    border-radius: 6px;
    transition: all 0.3s;
}
.b1-table button:hover{
    background-color: #47b014;
}
/*End buoc1*/

/*buoc2*/
.title-b2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

.title-b2 img{
    margin-right: 10px;
}
.b2-top-item{
    width: calc(50% - 12.5px);
    float: left;
    margin-right: 25px;
    border-radius: 15px;
    border: 1px solid #d4d5df;
    position: relative;
}
.b2-top-item-img,
.b2-top-item-text{
    float: left;
    width: 50%;
}
.b2-top-item-img img{
    width: 100%;
}
.b2-top-item:nth-child(2n){
    margin-right: 0;
}
.b2-top-item-text{
    padding: 35px 30px 0;
    font-size: 15px;
}
.b2-top-item-text p{
    margin-bottom: 4px;
    overflow: hidden;
}
.b2-top-item-text span{
    color: #666666;
    float: left;
}
.b2-top-item-text strong{
    float: right;
}
.b2-top-item-text p:last-child strong{
    color: #ed1d24;
}
.b2-top-item-text p:last-child{
    margin-bottom: 0;
}
.buoc2 i{
    font-style: initial;
    font-size: 0.85em;
}
.trash{
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 1px solid #d4d5df;
    top: -16.5px;
    right: -16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}
.trash:hover{
    border-color: #ed1d24;
}
.b2-center{
    margin: 25px 0;
    border: 1px solid #d4d5df;
    border-radius: 15px;
    padding: 22px 35px;
    font-size: 16px;
}
.b2-center-item{
    width: calc(50% - 30px);
    float: left;
    margin-right: 60px;
}
.b2-center-item:last-child{
    margin-right: 0;
}
.b2-center-item p{
    color: #e02b32;
}
.b2-center-item li{
    color: #666;
    margin-bottom: 6px;
    font-size: 15px;
}
.b2-center-item li:last-child{
    margin-bottom: 0;
}
.b2-center-item-left li{
    padding-left: 25px;
    background: url(images/icon-tich.png) left top 2px no-repeat;
}
.b2-center-item-left{
    position: relative;
}
.b2-center-item-left:before {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #d4d5df;
    width: 1px;
    right: -30px;
    top: 0;
    content: "";
}

.b2-bottom-item{
    width: 50%;
    float: left;
}
.b2-bottom-item li span{
    color: #d61b22;
}
.b2-bottom-item li:last-child span{
    font-size: 20px;
    font-weight: 900;
}
.b2-bottom button{
    height: 55px;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 6px;
    text-align: center;
    padding: 0px 35px;
    color: #333333;
    font-size: 18px;
    margin: 15px 0 0 25px;
    transition: all 0.3s;
}
.b2-bottom button.nq{
    background-color: #e43422;
    color: #fff;
    border-color: #e43422;
}
.b2-bottom button:hover{
    border-color: #e43422;
    color: #e43422;
}
.b2-bottom button.nq:hover{
    background-color: #47b014;
    color: #fff;
    border-color: #47b014;
}
/*End buoc2*/

/*buoc3*/
.buoc3{
    font-size: 15px;
    max-width: 715px;
}
.b3-top-item{
    width: 140px;
    float: left;
    margin: 15px 30px 0 0;
    text-align: center;
    position: relative;
    color: #666666;
}
.b3-top-item-img{
    width: 100%;
    overflow: hidden;
    height: 140px;
    border: 1px dashed #333333;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
}
.b3-top-item-img>img{
    width: 100%;
    height: 100%;
}
.b3-top-item-img.active{
    border: none;
}
.b3-top-add{
    background-color: transparent;
    border: none;
    margin: auto;
}
.check-b3{
    margin-bottom: 10px;
}
.check-b3 label{
    color: #333;
    font-weight: normal;
    margin: 25px 0 10px;
    background-image: url(images/radio1.png);
    background-position: left top 0px;
    position: relative;
}
.check-b3 input:checked + label:after{
    width: 13px;
    height: 10px;
    background: url(images/check.png) center center no-repeat;
    position: absolute;
    content: "";
    border: none;
    transform: none;
    top: 4px;
}
.b3-center {
    background-color: #ffefcc;
    font-size: 16px;
    padding: 30px;
    max-width: 635px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.b3-center p{
    margin-bottom: 15px;
}
.b3-center  .check-b3 label{
    margin: 0;
}

.b3-bottom{
    max-width: 635px;
}
.b3-bottom .form-control{
    padding: 0px 30px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 6px;
    border-color: #acafb0;
}
.b3-bottom textarea.form-control{
    max-width: 340px;
    margin-right: 15px;
    padding: 15px 30px;
    height: 120px;
    float: left;
}
.b3-bottom button{
    height: 50px;
    background-color: #e43422;
    border: 1px solid #e43422;
    border-radius: 6px;
    text-align: center;
    padding: 0px 35px;
    color: #fff;
    font-size: 18px;
    float: left;
    transition: all 0.3s;
}
.b3-bottom button:hover{
    background-color: #47b014;
    border-color: #47b014;
}
/*End buoc3*/

/*buoc4*/
.img-b4{
    border-radius: 50%;
    display: inline-block;
    margin: 10px auto 20px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
    width: 160px;
    height: 160px;
    line-height: 160px;
}
.img-b4 img{
    position: relative;
    right: -3px;
}
.buoc4{
    font-size: 18px;
}
a.tel-b4{
    margin-bottom: 50px;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #bfc2c3;
    color: #333;
    border-radius: 6px;
}
.logo-b4 img{
    margin: 0px 15px 10px;
}
/*End buoc4*/


/*sidebar*/
.sidebar{
    width: 240px;
    float: right;
}
.sidebar .qc img{
    width: 100%;
}
/*End sidebar*/






/*End col-content*/

/*responsive*/
@media(max-width: 1699px){
    .header{
        padding: 15px 0;
    }
    .header img{
        max-height: 45px;
    }
    .social li a{
        padding-top: 15px;
    }
    .box-index-inner{
        max-width: 500px;
    }
    .form-box-index .input-text,
    .btn-submit{
        height: 50px;
        padding: 0px 15px;
        font-size: 16px;
    }
    .div-input .input-text{
        width: calc(100% - 115px);
    }
    .div-input .btn-otp{
        width: 100px;
        padding: 0;
        font-size: 15px
    }
    .btn-submit{
        width: 150px;
    }
    .btn-radio label{
       font-size: 20px;
    }
    .box-index-inner{
        margin-top: 55px;
    }
}
@media(max-width: 1399px){
    .b2-top-item-text{
        padding: 29px 15px 0;
        font-size: 15px;
    }
}
@media(max-width: 1199px){
    .box-index-inner{
        margin: 50px 0 0;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .box-index{
        background: url(images/bk-mobile.png) center center repeat !important;
        background-size: cover;
        min-height: inherit;
    }

    .b2-top-item-img, .b2-top-item-text{
        width: 100%;
    }
    .b2-top-item-text{
        padding: 20px 15px;
    }
}
@media(max-width: 991px){
    .header-right{
        display: none;
    }
    .footer .header-right{
        display: block;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .social{
        width: 100%;
        text-align: center;
    }
    .social li{
        margin: 0 20px;
        float: initial;
        display: inline-block;
    }
    .logo-right{
        width: 100%;
        float: left;
        margin: 25px 0;
        text-align: center;
    }

    .owl-theme .owl-nav [class*='owl-'] img{
        width: 30px;
        height: 30px;
    }
    .col-left{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .sidebar{
        width: 100%;
    }
    .col-content{
        padding-top: 25px;
        background: #fff;
    }
    .sidebar .qc img{
        width: inherit;
        margin: auto;
        display: block;
    }
}
@media(max-width: 767px){
    .header{
        padding: 10px 0;
    }
    .header img{
        height: 45px;
    }
    .box-index-inner{
        margin: 30px 0 0;
    }
    .form-box-index{
        background: none;
        padding: 0;
        margin: 30px 0;
        width: 100%;
        max-width: 100%;
        font-size: 17px;
    }
    .owl-carousel .owl-item img{
        min-height: 150px;
        object-fit: cover;
    }
    .owl-theme .owl-nav [class*='owl-'].owl-prev{
        left: 15px;
    }
    .owl-theme .owl-nav [class*='owl-'].owl-next{
        right: 15px;
    }
    .col-left{
        padding: 0 0 20px;
    }
    .item-clt{
        font-size: 14px;
        margin-right: calc(50% - 67.5px);    
    }
    .item-clt:before{
        width: 45px;
        height: 45px;
        background-size: 20px 20px;
    }
    .colleft-top-div{
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .colleft-top-div:before{
        top: 22.5px;
    }
    .search-b1 button{
        height: 50px;
        font-size: 16px;
        width: 100%;
        margin-top: 15px;
    }
    .search-b1 input{
        height: 50px;
        padding-left: 47px;
        background-size: 20px;
        background-position: 16px;
    }
    .focus-input{
        width: 100%;
    }
    .focus-input ul{
        position: relative;
        top: 0;
        opacity: 1;
        visibility: visible;
        height: inherit;
        padding: 20px 0 0;
        border: none;
    }
    .search-b1 input:focus{
        border: 2px solid #e43422;
        border-radius: 8px;
    }
    .b1-table th, .b1-table td{
        font-size: 14px;
        line-height: 1.5 !important;
        padding: 10px !important;
    }
    .owl-theme .owl-dots{
        display: none;
    }

    .b2-top-item-text{
        padding: 15px 10px;
    }
    .b2-center{
        padding: 15px 10px;
    }
    .b2-center-item{
        width: 100%;
        margin: 0 0 10px;
    }
    .b2-center-item-left:before{
        display: none;
    }
    .trash{
        right: -5px;
    }
    .b2-bottom-item{
        width: 100%;
    }
    .b2-bottom-item.text-right{
        text-align: center;
    }
    .b2-bottom button{
        margin-left: 0;
    }
    .title-b2{
        font-size: 16px;
    }
    .b3-top-item{
        width: calc(50% - 15px);
    }
    .b3-top-item:nth-child(2n){
        margin-right: 0;
    }
    .b3-top-item-img>img{
        object-fit: cover;
    }
    .check-b3 label{
        font-size: 15px;
    }
    .b3-center{
        padding: 20px 15px;
    }
}
/*End responsive*/